<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <!--  <class name="demo.toolsqa.alertsframesandwindows.FrameAndNestedFrameDemo"/>
      <class name="demo.toolsqa.widgets.AccordianDemo"/>
      <class name="demo.toolsqa.alertsframesandwindows.AlertsDemo"/>
      <class name="demo.toolsqa.screenRecorder.DescriptorImpl"/>
      <class name="demo.toolsqa.alertsframesandwindows.BrowserWindowsDemo"/> -->
      <class name="demo.toolsqa.alertsframesandwindows.ModelDialogsDemo"/>
     <!--  <class name="demo.toolsqa.screenRecorder.ScreenRecorderBuildWrapper"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
